name: My First Workflow

on: push

jobs:
    first_job:
        runs-on: ubuntu-latest
        steps:
        - name: Checkout Repo
          uses: actions/checkout@v6

        - name: List Repofiles
          run:   ls -ltra

        - name: Executing the shellscript
          run:  ./asci-script.sh
              
  
         
        
