name: My First Workflow

on: push

jobs:
    first_job:
        runs-on: ubuntu-latest
        steps:
        - name: Welcome Message
          run: echo "My First github actions demo job"
         
        - name: list the files
          run: ls

        - name: Read the file
          run: cat README.md
          