name: My First Workflow

on: push

jobs:
    first_job:
        runs-on: ubuntu-latest
        steps:
        - name: Checkout Repo
          uses: actions/checkout@v6
        - name: Welcome Message
          run: | 
                echo "List and Read files"
                ls -ltra
                cat README.md
         
        
